/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* End of Meyer Reset CSS */

img {
	max-width: 100%; /*makes images scale with flexible grids*/
	display: block; /*removes tiny space added in some browsers below images */
}

a {
    text-decoration: none;
}

html,body {
    left: 0;
    width:100%;
    height: 100%;

    display: block;
    margin-top:0;
}

body {
    background-color: #FAF1E0;
}

/* Text Styles */

h1 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    font-size: 106px;
    color: #FAF1E0;
}

h2 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #FAF1E0;
}

h3 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-size: 31px;
    color: #F1AF31;
}

h4 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 27px;
    color: #FAF1E0;
}

h5 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #FAF1E0;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 19px;
    letter-spacing: .075em;
    padding-bottom: 2px;
    color: white;
    text-shadow: rgba(0,0,0,.4) 2px 2px 5px;
}

/* Wrapper */

#wrapper {
    width: 100%;
    margin: 0 auto;
}

/* Header Styles */

header .hero-img {
    width: 100%;
    background-image: url("images/Background-Img.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 0;
    padding-top: 60.139%;
}

header .brand, header .info {
    position: absolute;
    left: 7.5%;
}

header .brand {
    top: 213px;
}

header .brand h3 {
    text-align: right;
    margin-top: 30px;
}

header .info {
    top: 562px;
}

header .info h5, header .info h4 {
    margin-bottom: 7px;
    letter-spacing: .05em;
}

/* Content Filter */

main .filter-wrapper {
    padding-left: 7.5%;
    background-color: #E8A631;
}

div.filter-title {
    width: 100%;
    align-content: center;
    padding: 35px 0 23px 0;
}

div.filter-title h2 {
    display: block;
    margin: 0 auto;
}

div.filter-title h2 .active-sort {
    display: inline-block;
    border-bottom: thick dotted #FAF1E0;
    padding-bottom: 5px;
}

ul#filter {
    margin: 0 auto;
    text-align: left;
}

ul#filter li {
    display: inline-block;
    width: 16%;
    padding-bottom: 25px;
}

ul#filter li a {
    margin: 0 auto;
    display: block;
    color: #FAF1E0;
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

ul#filter li a:hover {
    color: #EC512C;
}

ul#filter li a.selected {
    color: #EC512C;
}

/* Portfolio Portrait Gallery */

.grid {
    display: flex;
    align-content: flex-start;
    flex-flow: row;
    flex-wrap: wrap;
    padding: 5px;
    width: 85%;
    margin: 20px auto;

    perspective: 1300px;
}

.mix {
    padding-bottom: 200px;
    width: 200px;
    margin: 5px;

    position: relative;

    transform-style: preserve-3d;

    transition: width 1s;
}

section.gallery .grid .mix img {
    position: absolute;
}

section.gallery .grid .mix .name {
    position: absolute;
    bottom: 11px;
    left: 20px;
}

.mix.animate.hidden {
    width: 0;
    opacity: 0;
    padding: 0;
    margin: 0;
}

.mix.animate {
    transform: translateZ(400px) translateY(300px) rotateX(-90deg);
    animation: fallPerspective .8s ease-in-out forwards;
    visibility: visible;
}

.image {
    background: center / contain no-repeat url('images/X-image.png');
    padding-bottom: 650px;   
    width: 100%;
    margin: 0 auto;
    position: absolute;
    z-index: 5;
}

#media {
    background: rgba(40,44,50,1);
    width: 0%;
    padding-bottom: 650px;

    animation: reveal 1s ease-in-out forwards;

    position: relative;
    margin: 0 auto;
    display: block;

    padding-bottom: 650px;
    
}

@keyframes fallPerspective {
    100% { transform: translateZ(0px) translateY(0px) rotateX(0deg); opacity: 1; }
}

@keyframes reveal {
    100% { width:100% ; opacity: 1; }
}

