/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* End of Meyer Reset CSS */

img {
    max-width: 100%; /*makes images scale with flexible grids*/
    display: block; /*removes tiny space added in some browsers below images */
}

a {
    text-decoration: none;
}

html,body {
    left: 0em;
    width:100%;
    height: 100%;

    display: block;
    margin-top:0em;
}

body {
    background-color: #FAF1E0;
}

/* Text Styles */

h1 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    font-size: 6.625em;
    color: #FAF1E0;
}

h2 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 2em;
    color: #FAF1E0;
}

h3 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-size: 1.9375em;
    color: #F1AF31;
}

h4 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 1.6875em;
    color: #FAF1E0;
}

h5 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-size: 1.125em;
    color: #FAF1E0;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: .85em;
    letter-spacing: .075em;
    padding-bottom: .125em;
    color: #FAF1E0;
    text-shadow: rgba(0,0,0,.4) 2px 2px 5px;
}

/* Wrapper */

#wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 1440px;
}

/* Header Styles */

header {
    background: linear-gradient(to right, #4fa0e9 , #4082be);
}

header .hero-img {
    width: 100%;
    background-image: url("images/Background-Img.png");
    background-size: 1440px;
    background-repeat: no-repeat;
    height: 0;
    padding-top: 60.139%;
}

header .brand, header .info {
    position: absolute;
    left: 7.5%;
}

header .brand {
    top: 13.3125em;
}

header .brand h3 {
    text-align: right;
    margin-top: 1.875em;
}

header .info {
    bottom: -4%;
}

header .info h5, header .info h4 {
    margin-bottom: .4375em;
    letter-spacing: .05em;
}

@media screen and (min-width: 1441px) {

}

/* Content Filter */

main .filter-wrapper {
    padding-left: 7.5%;
    background-color: #E8A631;
    padding-bottom: .625em;
}

div.filter-title {
    width: 100%;
    align-content: center;
    padding: 2.1875em 0 1.4375em 0;
}

div.filter-title a.drop-btn {
    background-image: url('images/drop-arrow.png');
    display: inline-block;
    width: 26px;
    height: 1.125em;
    margin-left: 10px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    transition: -webkit-transform .5s ease-in;
    transition: transform .5s ease-in;
    transition: transform .5s ease-in, -webkit-transform .5s ease-in;
}

div.filter-title a.drop-btn.rotated {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
}

div.filter-title h2 {
    display: inline-block;
    margin: 0 auto;
}

div.filter-title h2 .active-sort {
    display: inline-block;
    border-bottom: thick dotted #EC512C;
    padding-bottom: .3125em;
}

div.filter-tab {
    height: auto;
    overflow: hidden;
    max-height: 90px;
    transition: max-height .5s ease-out;
}

div.filter-tab.collapsed {
    max-height: 0;
}

ul#filter {
    margin: 0 auto;
    text-align: left;
}

ul#filter li {
    display: inline-block;
    width: 16%;
    padding-bottom: 1.5625em;
}

ul#filter li a {
    margin: 0 auto;
    display: block;
    color: #FAF1E0;
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-size: 1.125em;
    font-weight: 400;
    letter-spacing: 1px;
}

ul#filter li a:hover {
    color: #EC512C;
}

ul#filter li a.selected {
    color: #EC512C;
}

/* Duotone Filters */

/* Ensures the svg element doesnt appear */

.svg-filters {
    height: 0;
    left: -9999em;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 0;
}

/* Portfolio Portrait Gallery */

.grid {
    display: flex;
    align-content: flex-start;
    flex-flow: row;
    flex-wrap: wrap;
    padding: 5px;
    width: 85%;
    margin: 1.25em auto 6.25em;
    justify-content: center;
}

.mix {
    padding-bottom: 18%;
    width: 18%;
    display: inline-table;

    margin: 5px;

    position: relative;
}

section.gallery .grid .mix img:hover {
    -webkit-filter: url('#duotone_red');
            filter: url('#duotone_red');
}

section.gallery .grid .mix img {
    position: absolute;
    -webkit-filter: url('#duotone_blue');
            filter: url('#duotone_blue');
}

section.gallery .grid .mix .name {
    position: absolute;
    bottom: 11px;
    left: 20px;
}

.name {
    pointer-events:none;
}

/* Footer */

footer {
    background-color: #EC512C;
    padding: 1.5625em 7.5% 3.75em 7.5%;
}

.footer-wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

footer p {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 1.25em;
    text-shadow: none;
    letter-spacing: 0.025em;
}

footer #sponsors {
    display: flex;
    align-content: flex-start;
    flex-flow: row;
    flex-wrap: wrap;
    margin: 3.125em auto;
    width: 100%;
    justify-content: space-between;
}

footer #sponsors img {
    width: 15%;
    max-height: 130px;
    margin: 0 2% 3.125em 2%;
}

footer #bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 2.5em;
}

footer #bottom #mark {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-size: 2em;
    color: #FAF1E0;
}

footer #bottom #mark strong {
    font-weight: 500;
}

footer #bottom #social {
    width: 20%;
}

footer #bottom #social .logos {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5625em;
    max-width: 150px;
}

footer #bottom #social .logos img {
    height: 30px;
}

footer #bottom #location {
    line-height: 1.5em;
}

footer #bottom #location p.adrss {
    font-size: 1em;
    font-weight: 300;
}

footer #bottom #location p.fjord {
    font-weight: 400;
    font-size: 1em;
    margin-top: .3125em;
}


/* ------------"Responsive" Type breakpoints----------- */

@media screen and (max-width: 1239px) and (min-width: 1056px) {

    header .hero-img {
        background-size: 1240px;
    }

    header .brand {
        top: 9%;
        left: 6%;
    }

    header .brand h3 {
        margin-top: .875em;
    }

    header .info {
        bottom: 10.9399538%;
        left: 6%;
        top: inherit;
    }

}

@media screen and (max-width: 1055px) and (min-width: 928px) {

    header .hero-img {
        background-size: 1060px;
    }

    header .brand {
        top: 9%;
        left: 6%;
    }

    header .brand h1 {
        font-size: 5.625em;
    }

    header .brand h3 {
        margin-top: .875em;
    }

    header .info {
        bottom: 23.9399538%;
        left: 6%;
        top: inherit;
    }

    header .info h5 {
        font-size: 1em;
    }

    header .info h4 {
        font-size: 1.6em;
    }

}

@media screen and (max-width: 928px) and (min-width: 768px) {

    h1{
        font-size: 3.75em;
    }
    
    h3{
        font-size: 1.5625em;
    }
    
    h4{
        font-size: 1.1875em;
    }
    
    h5{
        font-size: .8em;
    }
    
    p{
        font-size: 1.15em;
    }

    header .hero-img {
        background-size: 930px;
    }
    
    header .brand{
        top: 70px;
    }
    
    header .brand h3{
        margin-top: 15px;
    }
    
    header .info{
        bottom: 33%;
    }
    
    ul#filter li{
        width:23%;
    }
    
    div.filter-tab{
        max-height: 125px;
    }

    .mix{
        width: 31%;
        padding-bottom: 31%;
    }
}


/* -------------------Responsive Mobile Large starts here 425--------------------------------- */

@media screen and (max-width:620px)  {

    
    /* Responsive Mobile Text Styles */
    
h1 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    font-size: 3.685em;
    color: #FAF1E0;
}

h2 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 1.9375em;
    color: #FAF1E0;
}

h3 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-size: 1.0625em;
    color: #F1AF31;
}

h4 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 1.375em;
    color: #FAF1E0;
}

h5 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-size: 0.93755em;
    color: #FAF1E0;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: .85em;
    letter-spacing: .075em;
    padding-bottom: 2px;
    color: #FAF1E0;
    text-shadow: rgba(0,0,0,.4) 2px 2px 5px;
}
    
/* Mobile Header Styles */

header {
    background: linear-gradient(to right, #4fa0e9 , #4082be);
 
    
}

header .hero-img {
    width: 100%;
  
    background-image: url("images/mobile-hero.png");
    background-size: 621px;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 47.5em;
    
    
}

header .brand, header .info {
    position: absolute;
    left: 7.5%;
}

header .brand {
    top: 4.5rem;
}

header .brand h3 {
    text-align: right;
    margin-top: .875rem;
}

header .info {
    bottom: -5%;
    line-height: .85em;
}

header .info h5, header .info h4 {
    margin-bottom: 7px;
    letter-spacing: .05em;
}
    
/* Mobile Content Filter */

main .filter-wrapper {
    padding-left: 7.5%;
    padding-right: 7.5%;
    background-color: #E8A631;
    padding-bottom: .625;
    float: left;
  
}

div.filter-title {
    width: 100%;
    line-height: 2.4em;
    overflow:hidden;
   
    padding: 35px 0 23px 0;
}


div.filter-title a.drop-btn {
    background-image: url('images/drop-arrow.png');
    display: inline-block;
    margin-top: 3em;
    float: right;
    width: 26px;
    height: 18px;
    position: relative;
   
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    transition: -webkit-transform .5s ease-in;
    transition: transform .5s ease-in;
    transition: transform .5s ease-in, -webkit-transform .5s ease-in;
}


div.filter-title h2 {
    display: inline-block;
    width: 68%;
    margin: 0 auto;
}

div.filter-title h2 .active-sort {
    display: inline-block;
    border-bottom: thick dotted #EC512C;
    padding-bottom: 3px;
}

div.filter-tab {
    height: auto;
    overflow: hidden;
    max-height: 30.625em;
    padding-top: 1.5em;
    transition: max-height .5s ease-in;
}


ul#filter {
    margin: 0 auto;
    text-align: left;
}

ul#filter li {
    display: inline-block;
    width: 48.3%;
    padding-bottom: 25px;
}

ul#filter li a {
    margin: 0 auto;
    display: block;
    color: #FAF1E0;
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-size: 1.125em;
    font-weight: 400;
    letter-spacing: 1px;
}



    
/* Mobile Portfolio Portrait Gallery Large 425*/


 .mix {
    padding-bottom: 46%;
    width: 46%;
    
    position: relative;
}



section.gallery .grid .mix .name {
    position: absolute;
    bottom: 0.15em;
    left: .75em;
}


/* Mobile Footer Styling */

footer p {
    text-align: center;
}

footer #sponsors {
    width: 90%;
    margin-top: 25px;
}

footer #sponsors img {
    width: 40%;
    margin: 0;
    max-height: 80px;
    margin: 15px 0 10px 0;
}

footer #bottom {
    flex-flow: row;
    flex-wrap: wrap;
}

footer #bottom > div {
    flex: 100%;
}

footer #bottom #mark {
    display: none;
}

footer #bottom #social .logos {
    width: 60%;
    margin: 25px auto;
    max-width: none;
}

footer #bottom #social .logos img {
    height: 40px;
}

footer #bottom #location {
    margin-top: 35px;
}
    
footer #bottom #location #locale {
    margin-bottom: 25px;
}


    
}

/*-------------------Mobile Large Header-------------*/

@media screen and (max-width: 425px) {

    header .hero-img {
    width: 100%;
  
    background-image: url("images/mobile-hero.png");
    background-size: 425px 680px;
   
    background-repeat: no-repeat;
    padding-top: 42.5em;/*?*/
    }

    header .info {
    top: 33.825em;
    line-height: .85em;
    }

}

/*-------------------Mobile Medium------------------*/

@media screen and (max-width:375px){
    
    
/*text styles*/
h1 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    font-size: 3.25em;
    color: #FAF1E0;
}

h2 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 1.6875em;
    color: #FAF1E0;
}

h3 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-size: 0.9375em;
    color: #F1AF31;
}

h4 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 1.1875em;
    color: #FAF1E0;
}

h5 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-size: 0.8125xem;
    color: #FAF1E0;
}
    
/*header*/
    
header .hero-img {
    width: 100%;
  
    background-image: url("images/mobile-hero.png");
    background-size: 376px;
   
    background-repeat: no-repeat;
    padding-top: 37.5em;/*?*/
    
    
    }
    
    
header .info {
    top: 29.625em;
    line-height: .8em;
}
    
    
}


/*-------------------Mobile Small------------------*/

@media screen and (max-width:320px){
    
    
/*text styles*/
    
h1 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    font-size: 2.8275em;
    color: #FAF1E0;
}

h2 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 1.275em;
    color: #FAF1E0;
}

h3 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-size: 0.8125em;
    color: #F1AF31;
}

h4 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 1.040625em;
    color: #FAF1E0;
}

h5 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-size: 0.75625em;
    color: #FAF1E0;
}

/*header*/
    
header .hero-img {
    width: 100%;
  
    background-image: url("images/mobile-hero.png");
    background-size: 321px;
   
    background-repeat: no-repeat;
    padding-top: 32.5em;/*?*/
    
    
    }
    
header .brand {
    top: 3.4rem;
}
    
    
header .info {
    top: 25.125em;
    line-height: .8em;
}

/*filter*/
    
 main .filter-wrapper {
    padding-left: 7.5%;
    padding-right: 7.5%;
    background-color: #E8A631;
    padding-bottom: .625;
    float: left;
  
}

div.filter-title {
    width: 100%;
    line-height: 1.8em;
    overflow:hidden;
   
    padding: 2.1875em 0 0px 0;
}


div.filter-title a.drop-btn {
    background-image: url('images/drop-arrow.png');
    display: inline-block;
    margin-top: 3em;
    float: right;
    width: 26px;
    height: 18px;
    position: relative;
   
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    transition: -webkit-transform .5s ease-in;
    transition: transform .5s ease-in;
    transition: transform .5s ease-in, -webkit-transform .5s ease-in;
}


div.filter-title h2 {
    display: inline-block;
    width: 60%;
    margin: 0 auto;
}

div.filter-title h2 .active-sort {
    display: inline-block;
    border-bottom: thick dotted #EC512C;
    padding-bottom: 3px;
}

div.filter-tab {
    height: auto;
    overflow: hidden;
    max-height: 30.625em;
   
    transition: max-height .5s ease-in;
}
    
    

}

/******** Tablet Starts Here ********/
@media screen and (max-width:768px) and (min-width: 621px){

    
    h1{
        font-size: 3.75em;
    }
    
    h3{
        font-size: 1.5625em;
    }
    
    h4{
        font-size: 1.1875em;
    }
    
    h5{
        font-size: .8em;
    }
    
    p{
        font-size: 1.15em;
    }
    
    
    header .hero-img{
        background-image: url("images/tablet_header.png");
        background-size: 768px;
        padding-top: 67.139%;
        
    }
    
    header .brand{
        top: 70px;
    }
    
    header .brand h3{
        margin-top: 15px;
    }
    
    header .info{
        bottom: 41%;
    }
    
    ul#filter li{
        width:23%;
    }
    
    div.filter-tab{
        max-height: 125px;
    }

    .mix{
        width: 31%;
        padding-bottom: 31%;
    }
}


